data/basins/basins_lvl12_102022.gpkg filter=lfs diff=lfs merge=lfs -text
data/coastline/africa_landmass.gpkg filter=lfs diff=lfs merge=lfs -text
data/coastline/africa_landmass_simple.gpkg filter=lfs diff=lfs merge=lfs -text
data/ndvi/ndvi_means_africa_basins_2024-2025.h5 filter=lfs diff=lfs merge=lfs -text
data/ndvi/ndvi_means_wtd_basins_2000-2025.h5 filter=lfs diff=lfs merge=lfs -text
data/wtd/wtd_basin_geometry.gpkg filter=lfs diff=lfs merge=lfs -text
data/wtd/wtd_obs_all.gpkg filter=lfs diff=lfs merge=lfs -text
data/precip/precip_means_africa_basins_2024-2025.h5 filter=lfs diff=lfs merge=lfs -text
data/precip/precip_means_wtd_basins_2000-2025.h5 filter=lfs diff=lfs merge=lfs -text
data/topo/tiles_topo_africa_bbox.gpkg filter=lfs diff=lfs merge=lfs -text
data/topo/tiles_topo_africa_geom.gpkg filter=lfs diff=lfs merge=lfs -text
data/topo/tiles_topo_wtd_obs.gpkg filter=lfs diff=lfs merge=lfs -text
